---
layout: "../layouts/BaseLayout.astro"
title: "About"
---
<section class="container mx-auto py-8">
  <h1 class="text-4xl font-playfair mb-4">About</h1>
  <p class="text-lg">About us...</p>
</section>
