---
layout: "../layouts/BaseLayout.astro"
title: "Contact"
---
<section class="container mx-auto py-8">
  <h1 class="text-4xl font-playfair mb-4">Contact</h1>
  <p class="text-lg">Get in touch with us.</p>
</section>
